body{
  background-image: linear-gradient(to right, #FF0000, #e2ebf0);
}


img{
	border-radius: 50%;
	width:100%;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: auto;
}

h1,h2,h3,h4,h5,h6{
  color: #5b5b5b;
  font-size: 40px;
  background-image: linear-gradient(to right, #FFFF00, #e2ebf0);
}

p{
  color: #008000;
  font-size: 20px;
}

.detail li{
  font-size: 23px;
  background-image: linear-gradient(to right, #0000FF, #e2ebf0);

}

.time {
  font-style: normal;
}

.title{
  text-indent: 0%;
  font-size: 25px;
}
.sidebar {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #008000;
  overflow-x: hidden;
  padding-top: 20px;

}

.sidebar name{
  text-align:left;
  position: relative;
  padding-top:30px;
  margin-right: 10%;
  color: White;
  display: block;
}

.sidebar p{
  text-align:left;
  position: relative;
  margin-right: 10%;
  font-size: 17px;
  color: White;
  display: block;
}

.sidebar text{
  text-align:left;
  position: relative;
  padding-top:10px;
  margin-right: 10%;
  font-size: 20px;
  color: White;
  display: block;
}

.sidebar text h3{
  font-family: 'PT Serif Caption', serif;
  text-align:center;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
  color: White;
}


.main {
  margin-right: 300px;
  font-size: 28px;
  padding: 0px 10px;
  font-family: 'PT Serif Caption', serif;
}
